/* Modals */
.modal-header {
  align-items: center;

  .close {
    font-size: 2rem;
  }
}

.modal-footer {
  background-color: #eff3f8
}

@import '~@mxjs/modal/index';

.modal-right {
  .modal-dialog {
    position: absolute;
    right: 0;
    margin: 0;
    display: flex;
    min-height: 100%; // overflow scroll
    width: calc(100% - 190px); // 190 = sidebar width
    max-width: none;
  }

  &.fade .modal-dialog {
    transform: translate3d(25%, 0, 0);
  }

  &.show .modal-dialog {
    transform: none;
  }

  .modal-content {
    border-width: 0;
    border-radius: 0;
  }
}
