@import "variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap-mobile/scss/mixins/hairline";

// Modal

// 在 modal 上再次弹出 modal 能覆盖原 modal
.modal-backdrop ~ .modal-backdrop {
  z-index: $zindex-modal;
}

// 实现缩放动画效果

.modal-zoom {
  transform: scale(0.8);
  transition: all .15s linear;

  &.show {
    transform: scale(1);
  }

  &.modal .modal-dialog {
    transform: translate(0, 0);
  }
}

// 小屏正常显示

@media (max-width: $grid-breakpoints[sm]) {
  .modal-dialog {
    margin: $modal-dialog-margin-y-sm-up;
  }
}

// Fluid

.modal-body-fluid {
  padding: 0;
}

.modal-footer-fluid {
  padding: 0;
  border-top: 0;

  > .btn-fluid {
    margin-left: 0; /* 抵消.modal-footer > :not(:first-child) */
    margin-right: 0; /* 抵消.modal-footer > :not(:last-child) */
  }
}

// 简化弹窗

@if $mobile-only == true {
  .modal-prompt {
    .modal-dialog {
      width: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    .modal-header {
      padding: $modal-prompt-padding/2 $modal-prompt-padding;
    }

    .modal-body {
      padding: $modal-prompt-padding;
    }

    .modal-footer {
      padding: 0;

      > .btn {
        flex: 1 1 0;
        min-height: 3rem;
        font-size: 1.125rem;
        margin: 0;

        // 点击时只有背景色，不显示阴影，淡化操作
        @include button-active {
          box-shadow: none;
        }

        @include hairline-none(true);

        + .btn {
          // 只显示左边框
          @include hairline-left($border-color);
        }
      }
    }
  }
}

// 在 .modal-body 下增加 .modal-text 来解决内容超出时上半部分被挡住
// @see https://stackoverflow.com/a/47760391
.modal-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 4rem; // 内容过少时也不会太扁
}
